{{- $ThemeVersion := "3.32.0" -}}
<footer class="site-footer">
  <section class="copyright">
    &copy;
    {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
    {{ .Site.Params.footer.since }} -
    {{ end }}
    {{ now.Format "2006" }} {{ default .Site.Title .Site.Copyright }}
  </section>
  <section class="powerby">We use Google Analytics to collect website traffic data. You consent to use GA by using this site.</section>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XL72EN01QB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XL72EN01QB');
  </script>
</footer>
